.card {

  width:280px;

  background:white;

  border-radius:15px;

  overflow:hidden;

  position:relative;

  box-shadow:0 5px 15px rgba(0,0,0,.1);

  transition:.3s;

}



.card:hover {

  transform:translateY(-8px);

}





.card img {

  width:100%;

  height:220px;

  object-fit:cover;

  display:block;

}





.card h3 {

  padding:15px;

  text-align:center;

  margin:0;

  font-size:20px;

}





.card > a:not(.edit-btn){
  display:block;
  margin:15px;
  padding:10px;
  text-align:center;
  background:#ff6b35;
  color:white;
  border-radius:8px;
  text-decoration:none;
}


.card a:hover {

  background:#e85a2a;

}





/* Action Container */

/* Action Container */
.card-actions {

  position:absolute;

  top:12px;

  right:12px;

  display:flex;

  gap:8px;

  z-index:10;

}


/* Edit + Delete Common */

.edit-btn,
.delete-btn {

  width:38px;

  height:38px;

  border-radius:50%;

  display:flex;

  align-items:center;

  justify-content:center;

  padding:0;

  border:none;

  background:rgba(255,255,255,0.85);

  backdrop-filter:blur(5px);

  box-shadow:0 3px 10px rgba(0,0,0,0.15);

  cursor:pointer;

  font-size:16px;

  transition:.3s ease;

}



/* Edit icon */

.edit-btn {

  color:#ff6b35;

  text-decoration:none;

}



/* Delete icon */

.delete-btn {

  color:#ff6b35;

}



/* Hover */

.edit-btn:hover {

  background:#ff6b35;

  color:white;

  transform:scale(1.1);

}


.delete-btn:hover {

  background:#ff6b35;

  color:white;

  transform:scale(1.1);

}

/* Add Recipe Circle Button */

.add-recipe-btn {

  position:absolute;

  top:15px;

  left:15px;

  width:45px;

  height:45px;

  border-radius:50%;

  border:none;

  background:#ff6b35;

  color:white;

  display:flex;

  align-items:center;

  justify-content:center;

  font-size:22px;

  cursor:pointer;

  box-shadow:0 3px 10px rgba(0,0,0,.2);

}





.add-recipe-btn:hover {

  background:#e85a2a;

  transform:scale(1.1);

}





/* Mobile Responsive */

@media(max-width:600px){


  .card{

    width:90%;

  }


  .card img{

    height:200px;

  }

  /* Add Recipe Card */

.add-card{

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  cursor:pointer;

}



.add-icon{

  width:80px;

  height:80px;

  border-radius:50%;

  background:#ff6b35;

  color:white;

  display:flex;

  justify-content:center;

  align-items:center;

  font-size:35px;

  transition:.3s;

}



.add-card:hover .add-icon{

  transform:scale(1.1);

}


.add-card h3{

  margin-top:20px;

}



}