.search-container{

width:70%;

margin:auto;

display:flex;

justify-content:center;

align-items:center;

background:white;

border-radius:50px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

overflow:hidden;

}

.search-container input{

flex:1;

padding:18px;

font-size:18px;

border:none;

outline:none;

}

.search-container button{

padding:18px 25px;

border:none;

background:#ff6b35;

color:white;

font-size:20px;

cursor:pointer;

}

.search-container button:hover{

background:#e65a28;

}

@media(max-width:768px){

.search-container{

width:95%;

}

}